

/* Form Card Styles */
.library-form-card {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color:#5f6164;
    max-width: 600px;
    margin: 50px auto; /* Center the form */
}

.library-form-card h3{
    text-align: center;
    margin-bottom: 20px;
}

.library-form-card form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 15px; /* Gap between columns and rows */
  }
  
  .library-form-card form div {
    display: flex;
    flex-direction: column;
  }
/* Form Styles */
.library-form-card label {
    margin-bottom: 5px;
}

.library-form-card input {
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

/* Button Styles */
.library-form-card button {
    grid-column: 1 / -1; /* Span across both columns */
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.library-form-card button:hover {
    background-color: #45a049; /* Darker green on hover */
}